#cover-photo{
    background-image: url(Profile_homePage.png);
    
}
.space{
    margin-left : 200px;
}

.card-body{
    float : left;
}

#card{
    margin-top: 30px;
}
.dropdown {
    float : right;
}
#roundImage{
    position: absolute;
}