.mainNav{
    position: relative;
    width: 100%;
    
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}
.logo{
    position: absolute;
    
    left: 210px;
    width: 125px;
    height: 46px;
    top: 6px;
}
.signIn{
   float: right;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #0073b1;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-right: 24px;
    margin-top: 10px;

}
.joinNow{
    float: right;
    padding: 0 16px;
    height: 32px;
    margin-top: 10px;
    margin-right: 10px;
}
.homePage{
    height: 551px;
    width: 717px;
    position: absolute;
    right:50px;
    top:179px;
}
.form-control {width:190px;}
.popover {max-width:280px;}
.fonth3{
    color: #2977c9;
    font-weight: 200;
    line-height: 80px;
    font-size: 80px;
    position: absolute;
    top:185px;
    text-align:left;
    margin-left: 203px;

}
body{
    margin: 40px;
}
.search{
    transition: box-shadow 83ms, -webkit-box-shadow 83ms;
    cursor: text;
    border: none;
    color: rgba(0,0,0,0.6);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 4px 6px rgba(0,0,0,0.2);
    top:450px;
    position: absolute;
    margin-left: 204px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    height: 50px;
    width: 500px;
    background-color: #fff;
    
    padding-left: 10px;
    border: 2px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    text-align: left;
}
