
header {
    text-align: center;
}

main{
    text-align: center;
}
h1 {
   
    font-size: 24px;
}

#signinlogo{
    margin-top: 2%;
    height: 8%;
    width: 8%;
}

h2{ font-size: 16px;
    
}

.login{
    margin-left: 40%;
    width: 20%;
}


.footNav ul,li{
    margin-left: 6%; 
    display:inline;
    font-size: 12px;
}

footer{
    margin-top:8%;
}


.login input{
    border-radius: 2%;
    border-color: black;
    height:40px;
}
.login button{
    width: 100%;
    
    border-radius: 2%; 
}
.login ::placeholder{
    color: black;
}